* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url(../Images/reissbg.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

nav ul {
  display: flex;
  list-style: none;
}
nav li a {
  display: block;
  padding: 5px;
  margin: 0px 5px;
  text-decoration: none;
  color: #f36a25;
}
.btn {
  border: 1px solid black;
  width: 30%;
}

.section-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  padding: 20px;
}
.section-form h2 {
  font-size: 30px;
  letter-spacing: 2px;
}
.section-form form input {
  display: block;
  width: 100%;
  margin: 5px 0;
  height: 30px;
  border: 1px solid #f36a25;
  padding: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  outline: none;
}

.section-form form input[type="submit"] {
  font-size: 25px;
  text-transform: uppercase;
  height: auto;
  cursor: pointer;
  border: 1px solid #000;
}
.section-form form input[type="submit"]:hover {
  opacity: 0.5;
}

nav ul#user_info {
  display: none;
}

.products {
  /* position: relative; */
  width: 70%;
  margin: 10px 10px;
}
.products h3 {
  color: #f36a25;
}
.products h2 {
  position: absolute;
  text-align: center;
  color: #f36a25;
  background-color: #fff;
  width: 75%;
  font-size: 50px;
  padding: 10px;
  /* padding-top: 50px; */
}
.product_item {
  display: flex;
  width: 100%;
  background-color: white;
  min-height: 150px;
  margin-bottom: 10px;
}
.product_item_img {
  width: 50%;
  margin-right: 10px;
}
.product_item_action {
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.product_item .add_to_cart {
  display: block;
  margin-left: auto;
  margin-top: auto;
  background-color: #f36a25;
  border: 2px solid #ff921d;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}

nav ul#user_info li i {
  /* color: black; */
  font-size: 25px;
  cursor: pointer;
}
nav ul#user_info li {
  margin: 0px 10px;
  position: relative;
}
nav ul#user_info li .badge {
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: #f36a25;
  color: #fff;
  text-align: center;
  display: block;
  border-radius: 50%;
  top: -10px;
  right: -10px;
  font-size: 13px;
  display: none;
}

.carts_products {
  position: absolute;
  width: 210px;
  transform: translate(-40px, 0);
  background-color: #eaeaea;
  top: 56px;
  padding: 10px;
  border: 1px solid #f36a25;
  display: none;
}
.carts_products a {
  display: block;
  color: #000;
  margin: 4px 0;
  padding: 0;
  background-color: #f36a25;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
